=begin
#KORONA Studio API v3

#Our api provides access to our cloud services

The version of the OpenAPI document: 3.10.0
Contact: support@combase.net
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module KoronaCloudClient
  class KoronaAccountApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # creates a new DSFinVK export
    # @param dsfinvk_export [Array<DsfinvkExport>] array of new dsfinvk export jobs
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def add_dsfinvk_exports(dsfinvk_export, opts = {})
      data, _status_code, _headers = add_dsfinvk_exports_with_http_info(dsfinvk_export, opts)
      data
    end

    # creates a new DSFinVK export
    # @param dsfinvk_export [Array<DsfinvkExport>] array of new dsfinvk export jobs
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def add_dsfinvk_exports_with_http_info(dsfinvk_export, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KoronaAccountApi.add_dsfinvk_exports ...'
      end
      # verify the required parameter 'dsfinvk_export' is set
      if @api_client.config.client_side_validation && dsfinvk_export.nil?
        fail ArgumentError, "Missing the required parameter 'dsfinvk_export' when calling KoronaAccountApi.add_dsfinvk_exports"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/dsfinvkExports'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(dsfinvk_export)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"KoronaAccountApi.add_dsfinvk_exports",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KoronaAccountApi#add_dsfinvk_exports\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # deletes a single DSFinVK export
    # @param export_id [String]
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_dsfinvk_export(export_id, opts = {})
      delete_dsfinvk_export_with_http_info(export_id, opts)
      nil
    end

    # deletes a single DSFinVK export
    # @param export_id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_dsfinvk_export_with_http_info(export_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KoronaAccountApi.delete_dsfinvk_export ...'
      end
      # verify the required parameter 'export_id' is set
      if @api_client.config.client_side_validation && export_id.nil?
        fail ArgumentError, "Missing the required parameter 'export_id' when calling KoronaAccountApi.delete_dsfinvk_export"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/dsfinvkExports/{exportId}'.sub('{exportId}', CGI.escape(export_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"KoronaAccountApi.delete_dsfinvk_export",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KoronaAccountApi#delete_dsfinvk_export\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # downloads the DSFinVK export file
    # @param export_id [String]
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def download_dsfinvk_export(export_id, opts = {})
      download_dsfinvk_export_with_http_info(export_id, opts)
      nil
    end

    # downloads the DSFinVK export file
    # @param export_id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def download_dsfinvk_export_with_http_info(export_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KoronaAccountApi.download_dsfinvk_export ...'
      end
      # verify the required parameter 'export_id' is set
      if @api_client.config.client_side_validation && export_id.nil?
        fail ArgumentError, "Missing the required parameter 'export_id' when calling KoronaAccountApi.download_dsfinvk_export"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/dsfinvkExports/{exportId}/download'.sub('{exportId}', CGI.escape(export_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"KoronaAccountApi.download_dsfinvk_export",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KoronaAccountApi#download_dsfinvk_export\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # returns the max revisions of relevant types
    # @param korona_account_id [String] account id of the KORONA Studio account
    # @param [Hash] opts the optional parameters
    # @return [AccountMaxRevisions]
    def get_account_max_revisions(korona_account_id, opts = {})
      data, _status_code, _headers = get_account_max_revisions_with_http_info(korona_account_id, opts)
      data
    end

    # returns the max revisions of relevant types
    # @param korona_account_id [String] account id of the KORONA Studio account
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountMaxRevisions, Integer, Hash)>] AccountMaxRevisions data, response status code and response headers
    def get_account_max_revisions_with_http_info(korona_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KoronaAccountApi.get_account_max_revisions ...'
      end
      # verify the required parameter 'korona_account_id' is set
      if @api_client.config.client_side_validation && korona_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'korona_account_id' when calling KoronaAccountApi.get_account_max_revisions"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/maxRevisions'.sub('{koronaAccountId}', CGI.escape(korona_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AccountMaxRevisions'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"KoronaAccountApi.get_account_max_revisions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KoronaAccountApi#get_account_max_revisions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # returns a single DSFinVK export
    # @param export_id [String]
    # @param [Hash] opts the optional parameters
    # @return [DsfinvkExport]
    def get_dsfinvk_export(export_id, opts = {})
      data, _status_code, _headers = get_dsfinvk_export_with_http_info(export_id, opts)
      data
    end

    # returns a single DSFinVK export
    # @param export_id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(DsfinvkExport, Integer, Hash)>] DsfinvkExport data, response status code and response headers
    def get_dsfinvk_export_with_http_info(export_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KoronaAccountApi.get_dsfinvk_export ...'
      end
      # verify the required parameter 'export_id' is set
      if @api_client.config.client_side_validation && export_id.nil?
        fail ArgumentError, "Missing the required parameter 'export_id' when calling KoronaAccountApi.get_dsfinvk_export"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/dsfinvkExports/{exportId}'.sub('{exportId}', CGI.escape(export_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DsfinvkExport'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"KoronaAccountApi.get_dsfinvk_export",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KoronaAccountApi#get_dsfinvk_export\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # lists all DSFinVK exports
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page number of the page to fetch
    # @option opts [String] :point_of_sale point of sale
    # @option opts [String] :size The status of the export
    # @option opts [Integer] :size2 amount of objects to return per page
    # @option opts [String] :sort attribute to sort by (multiple separated by comma; max. 5)
    # @return [ResultListDsfinvkExport]
    def get_dsfinvk_exports(opts = {})
      data, _status_code, _headers = get_dsfinvk_exports_with_http_info(opts)
      data
    end

    # lists all DSFinVK exports
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page number of the page to fetch
    # @option opts [String] :point_of_sale point of sale
    # @option opts [String] :size The status of the export
    # @option opts [Integer] :size2 amount of objects to return per page
    # @option opts [String] :sort attribute to sort by (multiple separated by comma; max. 5)
    # @return [Array<(ResultListDsfinvkExport, Integer, Hash)>] ResultListDsfinvkExport data, response status code and response headers
    def get_dsfinvk_exports_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KoronaAccountApi.get_dsfinvk_exports ...'
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/dsfinvkExports'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pointOfSale'] = opts[:'point_of_sale'] if !opts[:'point_of_sale'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'size'] = opts[:'size2'] if !opts[:'size2'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResultListDsfinvkExport'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"KoronaAccountApi.get_dsfinvk_exports",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KoronaAccountApi#get_dsfinvk_exports\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # returns the elster export in xml formatted text for all organizational units per tax id
    # @param korona_account_id [String] account id of the KORONA Studio account
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :only_changes_since_last_export only export elster data for organizational units with changes since the last export
    # @return [ElsterData]
    def get_elster_export_data(korona_account_id, opts = {})
      data, _status_code, _headers = get_elster_export_data_with_http_info(korona_account_id, opts)
      data
    end

    # returns the elster export in xml formatted text for all organizational units per tax id
    # @param korona_account_id [String] account id of the KORONA Studio account
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :only_changes_since_last_export only export elster data for organizational units with changes since the last export
    # @return [Array<(ElsterData, Integer, Hash)>] ElsterData data, response status code and response headers
    def get_elster_export_data_with_http_info(korona_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KoronaAccountApi.get_elster_export_data ...'
      end
      # verify the required parameter 'korona_account_id' is set
      if @api_client.config.client_side_validation && korona_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'korona_account_id' when calling KoronaAccountApi.get_elster_export_data"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/elsterExport'.sub('{koronaAccountId}', CGI.escape(korona_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'onlyChangesSinceLastExport'] = opts[:'only_changes_since_last_export'] if !opts[:'only_changes_since_last_export'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ElsterData'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"KoronaAccountApi.get_elster_export_data",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KoronaAccountApi#get_elster_export_data\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # returns the single korona account
    # @param korona_account_id [String] account id of the KORONA Studio account
    # @param [Hash] opts the optional parameters
    # @return [KoronaAccount]
    def get_korona_account(korona_account_id, opts = {})
      data, _status_code, _headers = get_korona_account_with_http_info(korona_account_id, opts)
      data
    end

    # returns the single korona account
    # @param korona_account_id [String] account id of the KORONA Studio account
    # @param [Hash] opts the optional parameters
    # @return [Array<(KoronaAccount, Integer, Hash)>] KoronaAccount data, response status code and response headers
    def get_korona_account_with_http_info(korona_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KoronaAccountApi.get_korona_account ...'
      end
      # verify the required parameter 'korona_account_id' is set
      if @api_client.config.client_side_validation && korona_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'korona_account_id' when calling KoronaAccountApi.get_korona_account"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}'.sub('{koronaAccountId}', CGI.escape(korona_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'KoronaAccount'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"KoronaAccountApi.get_korona_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KoronaAccountApi#get_korona_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
