=begin
#KORONA Studio API v3

#Our api provides access to our cloud services

The version of the OpenAPI document: 3.10.0
Contact: support@combase.net
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.0.1

=end

require 'cgi'

module KoronaCloudClient
  class RentalsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # adds rentals
    # @param korona_account_id [String] account id of the KORONA Studio account
    # @param rental [Array<Rental>] data to add
    # @param [Hash] opts the optional parameters
    # @return [Array<AddOrUpdateResult>]
    def add_rentals(korona_account_id, rental, opts = {})
      data, _status_code, _headers = add_rentals_with_http_info(korona_account_id, rental, opts)
      data
    end

    # adds rentals
    # @param korona_account_id [String] account id of the KORONA Studio account
    # @param rental [Array<Rental>] data to add
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<AddOrUpdateResult>, Integer, Hash)>] Array<AddOrUpdateResult> data, response status code and response headers
    def add_rentals_with_http_info(korona_account_id, rental, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RentalsApi.add_rentals ...'
      end
      # verify the required parameter 'korona_account_id' is set
      if @api_client.config.client_side_validation && korona_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'korona_account_id' when calling RentalsApi.add_rentals"
      end
      # verify the required parameter 'rental' is set
      if @api_client.config.client_side_validation && rental.nil?
        fail ArgumentError, "Missing the required parameter 'rental' when calling RentalsApi.add_rentals"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/rentals'.sub('{' + 'koronaAccountId' + '}', CGI.escape(korona_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(rental)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AddOrUpdateResult>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"RentalsApi.add_rentals",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RentalsApi#add_rentals\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # book the single rental
    # @param korona_account_id [String] account id of the KORONA Studio account
    # @param rental_id [String] id of the related object (important: id should match the uuid-format)
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def book_rental(korona_account_id, rental_id, opts = {})
      book_rental_with_http_info(korona_account_id, rental_id, opts)
      nil
    end

    # book the single rental
    # @param korona_account_id [String] account id of the KORONA Studio account
    # @param rental_id [String] id of the related object (important: id should match the uuid-format)
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def book_rental_with_http_info(korona_account_id, rental_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RentalsApi.book_rental ...'
      end
      # verify the required parameter 'korona_account_id' is set
      if @api_client.config.client_side_validation && korona_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'korona_account_id' when calling RentalsApi.book_rental"
      end
      # verify the required parameter 'rental_id' is set
      if @api_client.config.client_side_validation && rental_id.nil?
        fail ArgumentError, "Missing the required parameter 'rental_id' when calling RentalsApi.book_rental"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/rentals/{rentalId}/book'.sub('{' + 'koronaAccountId' + '}', CGI.escape(korona_account_id.to_s)).sub('{' + 'rentalId' + '}', CGI.escape(rental_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"RentalsApi.book_rental",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RentalsApi#book_rental\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # finalize the single rental
    # @param korona_account_id [String] account id of the KORONA Studio account
    # @param rental_id [String] id of the related object (important: id should match the uuid-format)
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def finalize_rental(korona_account_id, rental_id, opts = {})
      finalize_rental_with_http_info(korona_account_id, rental_id, opts)
      nil
    end

    # finalize the single rental
    # @param korona_account_id [String] account id of the KORONA Studio account
    # @param rental_id [String] id of the related object (important: id should match the uuid-format)
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def finalize_rental_with_http_info(korona_account_id, rental_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RentalsApi.finalize_rental ...'
      end
      # verify the required parameter 'korona_account_id' is set
      if @api_client.config.client_side_validation && korona_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'korona_account_id' when calling RentalsApi.finalize_rental"
      end
      # verify the required parameter 'rental_id' is set
      if @api_client.config.client_side_validation && rental_id.nil?
        fail ArgumentError, "Missing the required parameter 'rental_id' when calling RentalsApi.finalize_rental"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/rentals/{rentalId}/finalize'.sub('{' + 'koronaAccountId' + '}', CGI.escape(korona_account_id.to_s)).sub('{' + 'rentalId' + '}', CGI.escape(rental_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"RentalsApi.finalize_rental",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RentalsApi#finalize_rental\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # returns a single rental
    # @param korona_account_id [String] account id of the KORONA Studio account
    # @param rental_id [String] id of the related object (important: id should match the uuid-format)
    # @param [Hash] opts the optional parameters
    # @return [Rental]
    def get_rental(korona_account_id, rental_id, opts = {})
      data, _status_code, _headers = get_rental_with_http_info(korona_account_id, rental_id, opts)
      data
    end

    # returns a single rental
    # @param korona_account_id [String] account id of the KORONA Studio account
    # @param rental_id [String] id of the related object (important: id should match the uuid-format)
    # @param [Hash] opts the optional parameters
    # @return [Array<(Rental, Integer, Hash)>] Rental data, response status code and response headers
    def get_rental_with_http_info(korona_account_id, rental_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RentalsApi.get_rental ...'
      end
      # verify the required parameter 'korona_account_id' is set
      if @api_client.config.client_side_validation && korona_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'korona_account_id' when calling RentalsApi.get_rental"
      end
      # verify the required parameter 'rental_id' is set
      if @api_client.config.client_side_validation && rental_id.nil?
        fail ArgumentError, "Missing the required parameter 'rental_id' when calling RentalsApi.get_rental"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/rentals/{rentalId}'.sub('{' + 'koronaAccountId' + '}', CGI.escape(korona_account_id.to_s)).sub('{' + 'rentalId' + '}', CGI.escape(rental_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Rental'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"RentalsApi.get_rental",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RentalsApi#get_rental\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # returns a single rental item
    # @param korona_account_id [String] account id of the KORONA Studio account
    # @param rental_id [String] id of the related object (important: id should match the uuid-format)
    # @param rental_item_id [String] id of the related object (important: id should match the uuid-format)
    # @param [Hash] opts the optional parameters
    # @return [RentalItem]
    def get_rental_item(korona_account_id, rental_id, rental_item_id, opts = {})
      data, _status_code, _headers = get_rental_item_with_http_info(korona_account_id, rental_id, rental_item_id, opts)
      data
    end

    # returns a single rental item
    # @param korona_account_id [String] account id of the KORONA Studio account
    # @param rental_id [String] id of the related object (important: id should match the uuid-format)
    # @param rental_item_id [String] id of the related object (important: id should match the uuid-format)
    # @param [Hash] opts the optional parameters
    # @return [Array<(RentalItem, Integer, Hash)>] RentalItem data, response status code and response headers
    def get_rental_item_with_http_info(korona_account_id, rental_id, rental_item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RentalsApi.get_rental_item ...'
      end
      # verify the required parameter 'korona_account_id' is set
      if @api_client.config.client_side_validation && korona_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'korona_account_id' when calling RentalsApi.get_rental_item"
      end
      # verify the required parameter 'rental_id' is set
      if @api_client.config.client_side_validation && rental_id.nil?
        fail ArgumentError, "Missing the required parameter 'rental_id' when calling RentalsApi.get_rental_item"
      end
      # verify the required parameter 'rental_item_id' is set
      if @api_client.config.client_side_validation && rental_item_id.nil?
        fail ArgumentError, "Missing the required parameter 'rental_item_id' when calling RentalsApi.get_rental_item"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/rentals/{rentalId}/items/{rentalItemId}'.sub('{' + 'koronaAccountId' + '}', CGI.escape(korona_account_id.to_s)).sub('{' + 'rentalId' + '}', CGI.escape(rental_id.to_s)).sub('{' + 'rentalItemId' + '}', CGI.escape(rental_item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RentalItem'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"RentalsApi.get_rental_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RentalsApi#get_rental_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # lists all rentals
    # @param korona_account_id [String] account id of the KORONA Studio account
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page number of the page to fetch
    # @option opts [Integer] :size amount of objects to return per page
    # @option opts [String] :sort attribute to sort by (multiple separated by comma; max. 5)
    # @option opts [Integer] :revision last revision number, objects with a greater revision than this will be returned
    # @option opts [Boolean] :include_deleted indicates deleted objects should be loaded or not (default: false)
    # @option opts [Time] :min_booking_time min (inclusive) booking time of the receipt (ISO 8601; Format: YYYY-MM-DDTHH:MM:SS; timezone optional)
    # @option opts [Time] :max_booking_time max (inclusive) booking time of the receipt (ISO 8601; Format: YYYY-MM-DDTHH:MM:SS; timezone optional)
    # @option opts [String] :point_of_sale point of sale
    # @option opts [String] :organizational_unit organizational unit
    # @option opts [String] :customer customer id to filter by
    # @option opts [String] :number number of the related object
    # @option opts [String] :receipt_status receipt status (possible values: OPEN, BOOKED, FINISHED)
    # @return [ResultListRental]
    def get_rentals(korona_account_id, opts = {})
      data, _status_code, _headers = get_rentals_with_http_info(korona_account_id, opts)
      data
    end

    # lists all rentals
    # @param korona_account_id [String] account id of the KORONA Studio account
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page number of the page to fetch
    # @option opts [Integer] :size amount of objects to return per page
    # @option opts [String] :sort attribute to sort by (multiple separated by comma; max. 5)
    # @option opts [Integer] :revision last revision number, objects with a greater revision than this will be returned
    # @option opts [Boolean] :include_deleted indicates deleted objects should be loaded or not (default: false)
    # @option opts [Time] :min_booking_time min (inclusive) booking time of the receipt (ISO 8601; Format: YYYY-MM-DDTHH:MM:SS; timezone optional)
    # @option opts [Time] :max_booking_time max (inclusive) booking time of the receipt (ISO 8601; Format: YYYY-MM-DDTHH:MM:SS; timezone optional)
    # @option opts [String] :point_of_sale point of sale
    # @option opts [String] :organizational_unit organizational unit
    # @option opts [String] :customer customer id to filter by
    # @option opts [String] :number number of the related object
    # @option opts [String] :receipt_status receipt status (possible values: OPEN, BOOKED, FINISHED)
    # @return [Array<(ResultListRental, Integer, Hash)>] ResultListRental data, response status code and response headers
    def get_rentals_with_http_info(korona_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RentalsApi.get_rentals ...'
      end
      # verify the required parameter 'korona_account_id' is set
      if @api_client.config.client_side_validation && korona_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'korona_account_id' when calling RentalsApi.get_rentals"
      end
      allowable_values = ["OPEN", "BOOKED", "FINISHED"]
      if @api_client.config.client_side_validation && opts[:'receipt_status'] && !allowable_values.include?(opts[:'receipt_status'])
        fail ArgumentError, "invalid value for \"receipt_status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/rentals'.sub('{' + 'koronaAccountId' + '}', CGI.escape(korona_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'revision'] = opts[:'revision'] if !opts[:'revision'].nil?
      query_params[:'includeDeleted'] = opts[:'include_deleted'] if !opts[:'include_deleted'].nil?
      query_params[:'minBookingTime'] = opts[:'min_booking_time'] if !opts[:'min_booking_time'].nil?
      query_params[:'maxBookingTime'] = opts[:'max_booking_time'] if !opts[:'max_booking_time'].nil?
      query_params[:'pointOfSale'] = opts[:'point_of_sale'] if !opts[:'point_of_sale'].nil?
      query_params[:'organizationalUnit'] = opts[:'organizational_unit'] if !opts[:'organizational_unit'].nil?
      query_params[:'customer'] = opts[:'customer'] if !opts[:'customer'].nil?
      query_params[:'number'] = opts[:'number'] if !opts[:'number'].nil?
      query_params[:'receiptStatus'] = opts[:'receipt_status'] if !opts[:'receipt_status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResultListRental'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"RentalsApi.get_rentals",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RentalsApi#get_rentals\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # updates the single rental
    # @param korona_account_id [String] account id of the KORONA Studio account
    # @param rental_id [String] id of the related object (important: id should match the uuid-format)
    # @param rental [Rental] the properties to update of the rental
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def update_rental(korona_account_id, rental_id, rental, opts = {})
      update_rental_with_http_info(korona_account_id, rental_id, rental, opts)
      nil
    end

    # updates the single rental
    # @param korona_account_id [String] account id of the KORONA Studio account
    # @param rental_id [String] id of the related object (important: id should match the uuid-format)
    # @param rental [Rental] the properties to update of the rental
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_rental_with_http_info(korona_account_id, rental_id, rental, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RentalsApi.update_rental ...'
      end
      # verify the required parameter 'korona_account_id' is set
      if @api_client.config.client_side_validation && korona_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'korona_account_id' when calling RentalsApi.update_rental"
      end
      # verify the required parameter 'rental_id' is set
      if @api_client.config.client_side_validation && rental_id.nil?
        fail ArgumentError, "Missing the required parameter 'rental_id' when calling RentalsApi.update_rental"
      end
      # verify the required parameter 'rental' is set
      if @api_client.config.client_side_validation && rental.nil?
        fail ArgumentError, "Missing the required parameter 'rental' when calling RentalsApi.update_rental"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/rentals/{rentalId}'.sub('{' + 'koronaAccountId' + '}', CGI.escape(korona_account_id.to_s)).sub('{' + 'rentalId' + '}', CGI.escape(rental_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(rental)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"RentalsApi.update_rental",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RentalsApi#update_rental\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # updates a batch of rentals; [number] must be set in the objects, otherwise the object cannot be updated
    # @param korona_account_id [String] account id of the KORONA Studio account
    # @param rental [Array<Rental>] an array of existing rentals
    # @param [Hash] opts the optional parameters
    # @return [Array<AddOrUpdateResult>]
    def update_rentals(korona_account_id, rental, opts = {})
      data, _status_code, _headers = update_rentals_with_http_info(korona_account_id, rental, opts)
      data
    end

    # updates a batch of rentals; [number] must be set in the objects, otherwise the object cannot be updated
    # @param korona_account_id [String] account id of the KORONA Studio account
    # @param rental [Array<Rental>] an array of existing rentals
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<AddOrUpdateResult>, Integer, Hash)>] Array<AddOrUpdateResult> data, response status code and response headers
    def update_rentals_with_http_info(korona_account_id, rental, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RentalsApi.update_rentals ...'
      end
      # verify the required parameter 'korona_account_id' is set
      if @api_client.config.client_side_validation && korona_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'korona_account_id' when calling RentalsApi.update_rentals"
      end
      # verify the required parameter 'rental' is set
      if @api_client.config.client_side_validation && rental.nil?
        fail ArgumentError, "Missing the required parameter 'rental' when calling RentalsApi.update_rentals"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/rentals'.sub('{' + 'koronaAccountId' + '}', CGI.escape(korona_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(rental)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AddOrUpdateResult>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"RentalsApi.update_rentals",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RentalsApi#update_rentals\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
